<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  
  <!-- user name input-->
  <div>
    <label>username</label>
    <input type="text" formControlName="username" />
    
    <!-- error message-->
    @if (registerForm.get('username')?.invalid && registerForm.get('username')?.touched) {
      <p style="color: red;">Username is a required field</p>
    }
  </div>

  <!-- password input -->
  <div>
    <label>password</label>
    <input type="password" formControlName="password" />

     <!-- error message-->
    @if (registerForm.get('password')?.invalid && registerForm.get('password')?.touched) {
      <p style="color: red;">Password is a required field</p>
    }
  </div>

  <button type="submit">register now !</button>
</form>*